# ==================================
# Git Ignore - 通用规则
# ==================================


# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# 日志
*.log
logs/


# 排除文件
开发指引.md
outer_file/

# OS
.DS_Store
Thumbs.db
