# ==================================
# Git Ignore - 通用规则
# ==================================


# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# 日志
*.log
logs/


# OS
.DS_Store
Thumbs.db
